.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', sans-serif;
  color: #E6FFFFFF;
  background-color: #58A163;
  text-align: center;
}
